html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#select_div {
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
}
#chart_div {
    align: center;
    width: 700px;
    height: 300px;
    width: 75%;
    float: left;
    margin-left: 1%;
}
#table_div {
    width: 25%;
    margin-left: 5%;
}
.overlay-text {
    width: 120px;
    height: 200px;
    position: absolute;
    top: 254px;   /* chartArea top  */
    left: 5px; /* chartArea left */
    text-align: right;
}
.overlay-div {
    height: 23px;
    font-size: 75%;
}
.winner   {color: gold;}
.runnerup {color: silver;}
.semifinal {color: #CD7F32;}
.qtrfinal {color: #1F4D0E;}
.last16 {color: #2A6612;}
.groupof16 {color: #348017;}
.groupof24 {color: #5D9945;}
.groupof32 {color: #85B374;}
